{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
<h2>Contact With Developers</h2>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="row">
                <p><a href="https://www.linkedin.com/in/emiraydinn" target="_blank">Emir Aydın</a></p>
                <img src="{% static 'images/emiraydin.jpg' %}" alt="Emir Aydın Fotoğrafı" class="profile-photo">
                <p>Software Engineer</p>
                <p>emir.aydin@tedu.edu.tr</p>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="row">
                <p><a href="https://www.linkedin.com/in/mustafaoncu" target="_blank">Mustafa Öncü</a></p>
                <img src="{% static 'images/mustafaoncu.jpg' %}" alt="Mustafa Öncü Fotoğrafı"
                     class="profile-photo">
                <p>Computer Engineer</p>
                <p>mustafa.oncu@tedu.edu.tr</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}