{% extends 'base.html' %}
{% load static %}

{% block title %}Tercih Sihirbazı{% endblock %}
{% block content %}
    <h2>Tercih Sihirbazı</h2>
    <table id="data-table">
        <thead>
        <tr>
            <th>Program Kodu</th>
            <th>Üniversite</th>
            <th>Fakülte</th>
            <th>Bölüm Adı</th>
            <th>Şehir</th>
            <th>Üniversite Türü</th>
            <th>Ücret/Burs</th>
            <th>Puan Türü</th>
            <th>Öğretim Türü</th>
            <th>Yıl</th>
            <th>Doluluk Statüsü</th>
            <th>Kontenjan</th>
            <th>Taban Puan</th>
            <th>TBS</th>
            <th>Yerleşen</th>
        </tr>
        </thead>
        <tbody>
        {% for item in page_obj %}
            <tr>
                <td>{{ item.yop_kodu }}</td>
                <td>{{ item.universite }}</td>
                <td>{{ item.fakulte }}</td>
                <td>{{ item.program_adi }}</td>
                <td>{{ item.sehir }}</td>
                <td>{{ item.universite_turu }}</td>
                <td>{{ item.ucret_burs }}</td>
                <td>{{ item.puan_turu }}</td>
                <td>{{ item.ogretim_turu }}</td>
                <td>{{ item.yil }}</td>
                <td>{{ item.doluluk_statu }}</td>
                <td>{{ item.kontenjan }}</td>
                <td>{{ item.taban_puan }}</td>
                <td>{{ item.tbs }}</td>
                <td>{{ item.yerlesen }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; ilk</a>
                <a href="?page={{ page_obj.previous_page_number }}">önceki</a>
            {% endif %}

            <span class="current">
                Sayfa {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">sonraki</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">son &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock %}